<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Schoolio - School management system</title>
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
  <!-- Custom CSS -->
  <link href="../dist/css/style.min.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
<div class="preloader">
  <div class="lds-ripple">
    <div class="lds-pos"></div>
    <div class="lds-pos"></div>
  </div>
</div>
<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
     data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
  <header class="topbar" data-navbarbg="skin6">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
      <div class="navbar-header" data-logobg="skin6">
        <a class="navbar-brand" href="index.html">
          <b class="logo-icon">
            <img src="../assets/images/logo-icon.png" alt="homepage" class="dark-logo"  width="50" height="50"/>
            <img src="../assets/images/logo-light-icon.png" alt="homepage" class="light-logo"  width="50" height="50"/>
          </b>
          <span class="logo-text">
                            <img src="../assets/images/logo-text.png" alt="homepage" class="dark-logo" width="90"/>
                            <img src="../assets/images/logo-light-text.png" class="light-logo" alt="homepage" width="90"/>
          </span>
        </a>
        <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                class="ti-menu ti-close"></i></a>
      </div>
      <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
        <ul class="navbar-nav float-start me-auto">
          <li class="nav-item search-box"> <a class="nav-link waves-effect waves-dark"
                                              href="javascript:void(0)"><i class="mdi mdi-magnify me-1"></i> <span class="font-16">Search</span></a>
            <form class="app-search position-absolute">
              <input type="text" class="form-control" placeholder="Search &amp; enter"> <a
                    class="srh-btn"><i class="mdi mdi-window-close"></i></a>
            </form>
          </li>
        </ul>
        <ul class="navbar-nav float-end">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="../assets/images/users/profile.png" alt="user" class="rounded-circle" width="40">
              <div class="ms-3">
                <h5 class="mb-0 text-capitalize" sec:authentication="principal.username"></h5>
                <h6 class="mb-0 text-muted" sec:authentication="principal.authorities[0]"></h6>
              </div>
            </a>
            <ul class="dropdown-menu dropdown-menu-end user-dd animated" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="javascript:void(0)"><i class="ti-user m-r-5 m-l-5"></i>
                My Profile</a>
              <a class="dropdown-item" href="javascript:void(0)"><i class="ti-wallet m-r-5 m-l-5"></i>
                My Balance</a>
              <a class="dropdown-item" href="javascript:void(0)"><i class="ti-email m-r-5 m-l-5"></i>
                Inbox</a>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <aside class="left-sidebar" data-sidebarbg="skin6">
    <div class="scroll-sidebar">
      <nav class="sidebar-nav">
        <ul id="sidebarnav">
          <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href="index.html" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span
                  class="hide-menu">Dashboard</span></a></li>
          <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href="pages-profile.html" aria-expanded="false"><i
                  class="mdi mdi-account-network"></i><span class="hide-menu">Profile</span></a></li>
          <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href="table-basic.html" aria-expanded="false"><i class="mdi mdi-border-all"></i><span
                  class="hide-menu">Table</span></a></li>
          <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href="icon-material.html" aria-expanded="false"><i class="mdi mdi-face"></i><span
                  class="hide-menu">Icon</span></a></li>
          <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href="starter-kit.html" aria-expanded="false"><i class="mdi mdi-file"></i><span
                  class="hide-menu">Blank</span></a></li>
          <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href="error-404.html" aria-expanded="false"><i class="mdi mdi-alert-outline"></i><span
                  class="hide-menu">404</span></a></li>
          <li class="text-center p-40 upgrade-btn">
            <a href="#"
               class="btn d-block w-100 btn-purple text-white" target="_blank">Logout</a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
  <div class="page-wrapper">
    <div class="page-breadcrumb">
      <div class="row align-items-center">
        <div class="col-6">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 d-flex align-items-center">
              <li class="breadcrumb-item"><a href="index.html" class="link"><i class="mdi mdi-home-outline fs-4"></i></a></li>
              <li layout:fragment="pageBreadcrumb"  class="breadcrumb-item active" aria-current="page">Starter Page</li>
            </ol>
          </nav>
          <h1 layout:fragment="pageTitle" class="mb-0 fw-bold"></h1>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div layout:fragment="pageContent">

      </div>
    </div>

    <footer class="footer text-center">
      Schoolio - School management system
    </footer>
  </div>
</div>

<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../dist/js/app-style-switcher.js"></script>
<!--Wave Effects -->
<script src="../dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="../dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="../dist/js/custom.js"></script>
</body>

</html>