<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/wrapper}">
<head>
    <meta charset="UTF-8">
    <title>Page 1</title>
</head>
<body>

<li layout:fragment="pageBreadcrumb">
    Students
</li>
<h1 layout:fragment="pageTitle">
    Students
</h1>
<div layout:fragment="pageContent">
    <div class="row">
        <!-- column -->
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <!-- title -->
                    <div class="d-md-flex">
                        <div>
                            <h4 class="card-title">All students </h4>
                            <h5 class="card-subtitle">list of all students</h5>
                        </div>
                        <div class="ms-auto">
                            <div class="dl">
                                <select class="form-select shadow-none">
                                    <option value="0" selected>f1</option>
                                    <option value="1">f2</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- title -->
                    <div class="table-responsive">
                        <table class="table mb-0 table-hover align-middle text-nowrap">
                            <thead>
                            <tr>
                                <th class="border-top-0">name</th>
                                <th class="border-top-0">CIN</th>
                                <th class="border-top-0">CNE</th>
                                <th class="border-top-0">Email</th>
                                <th class="border-top-0">Phone</th>
                                <th class="border-top-0">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="student : ${students}">
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="m-r-10"><a
                                                class="btn btn-circle d-flex btn-info text-white">EA</a>
                                        </div>
                                        <div class="">
                                            <h4 class="m-b-0 font-16" th:text="${student.lastName}+' '+${student.firstName}"></h4>
                                        </div>
                                    </div>
                                </td>
                                <td th:text="${student.cin}"></td>
                                <td th:text="${student.cne}"></td>
                                <td th:text="${student.email}"></td>
                                <td th:text="${student.phone}"></td>
                                <td>
                                    <span class="btn btn-danger btn-circle d-flex align-items-center">
                                        <i class="mdi mdi-arrow-right-drop-circle fs-4 text-white" ></i>
                                    </span>
                                </td>
<!--                                <td>-->
<!--                                    <label class="badge bg-danger">Angular</label>-->
<!--                                </td>-->
<!--                                <td>-->
<!--                                    <h5 class="m-b-0">$2850.06</h5>-->
<!--                                </td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>