<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/wrapper}">
<head>
    <meta charset="UTF-8">
    <title>Schoolio - Student</title>
</head>
<body>

<div layout:fragment="pageContent">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-sub-header">
                            <h3 class="page-title">Student Details</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="students.html">Student</a></li>
                                <li class="breadcrumb-item active">Student Details</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="student-profile-head mt-2">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4">
                                        <div class="profile-user-box">
                                            <div class="profile-user-img">
                                                <img th:src="@{/assets/img/profile-user.jpg}" alt="Profile">
                                                <div class="form-group students-up-files profile-edit-icon mb-0">
                                                    <div class="uplod d-flex">
                                                        <label class="file-upload profile-upbtn mb-0">
                                                            <i class="feather-edit-3"></i><input type="file">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="names-profiles">
                                                <h4 th:text="${student.lastName+' '+student.firstName}"></h4>
                                                <h5 th:text="${student.email}"></h5>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="student-personals-grp">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="heading-detail d-flex justify-content-between align-items-start">
                                            <h4>Personal details</h4>
                                            <a th:href="@{${#httpServletRequest.requestURI}+'/edit'}" class="ms-1 btn btn-sm btn-primary ms-auto"> <i class="feather-edit"></i></a>
                                        </div>
                                        <div class="row ">
                                            <div class="personal-activity col-lg-6">
                                                <div class="personal-icons">
                                                    <i class="feather-user"></i>
                                                </div>
                                                <div class="views-personal">
                                                    <h4>Last name</h4>
                                                    <h5 th:text="${student.lastName}"></h5>
                                                </div>
                                            </div>
                                            <div class="personal-activity col-lg-6">
                                                <div class="personal-icons">
                                                    <i class="feather-user"></i>
                                                </div>
                                                <div class="views-personal">
                                                    <h4>First name</h4>
                                                    <h5 th:text="${student.firstName}"></h5>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row ">
                                            <div class="personal-activity col-lg-6">
                                                <div class="personal-icons">
                                                    <i class="feather-user"></i>
                                                </div>
                                                <div class="views-personal">
                                                    <h4>Arabic last name</h4>
                                                    <h5 th:text="${student.arabicLastName}"></h5>
                                                </div>
                                            </div>
                                            <div class="personal-activity col-lg-6">
                                                <div class="personal-icons">
                                                    <i class="feather-user"></i>
                                                </div>
                                                <div class="views-personal">
                                                    <h4>Arabic first name</h4>
                                                    <h5 th:text="${student.arabicFirstName}"></h5>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="personal-activity col-lg-6">
                                                <div class="personal-icons">
                                                    <i class="feather-phone-call"></i>
                                                </div>
                                                <div class="views-personal">
                                                    <h4>Mobile</h4>
                                                    <h5 th:text="${student.phone}"></h5>
                                                </div>
                                            </div>
                                            <div class="personal-activity col-lg-6">
                                                <div class="personal-icons">
                                                    <i class="feather-mail"></i>
                                                </div>
                                                <div class="views-personal">
                                                    <h4>Email</h4>
                                                    <h5 th:text="${student.email}"></h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="personal-activity col-lg-6">
                                                <div class="personal-icons">
                                                    <i class="feather-square"></i>
                                                </div>
                                                <div class="views-personal">
                                                    <h4>CNE</h4>
                                                    <h5 th:text="${student.cne}"></h5>
                                                </div>
                                            </div>
                                            <div class="personal-activity mb-0 col-lg-6">
                                                <div class="personal-icons">
                                                    <i class="feather-square"></i>
                                                </div>
                                                <div class="views-personal">
                                                    <h4>CIN</h4>
                                                    <h5 th:text="${student.cin}" ></h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="personal-activity">
                                            <div class="personal-icons">
                                                <i class="feather-calendar"></i>
                                            </div>
                                            <div class="views-personal">
                                                <h4>Date of Birth</h4>
                                                <h5 th:text="${#dates.format(student.birthDate, 'yyyy-MM-dd')}"></h5>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="student-personals-grp mb-4">
                                <div class="card mb-0">
                                    <div class="card-body">
                                        <div class="heading-detail d-flex justify-content-between align-items-start">
                                            <h4>Account details</h4>
                                            <a th:if="student.account" th:href="@{'/admin/accounts/'+${student.account.id}+'/edit'}" class="ms-1 btn btn-sm btn-primary ms-auto"> <i class="feather-edit"></i></a>
                                        </div>

                                        <div th:if="${student.account == null}">
                                            <p>This student doesn't have an account yet. Would you like to create one for them?</p>
                                            <button type="button" class="btn btn-secondary mt-1" data-bs-toggle="modal" data-bs-target="#centermodal">Set account</button>

                                            <div class="modal fade" id="centermodal" tabindex="-1" role="dialog" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title" id="myCenterModalLabel">Create account</h4>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <form th:action="@{/admin/create-account/{id}(id=${student.id})}" method="post">
                                                            <div class="modal-body">
                                                                <h5>Set an account for <strong th:text="${student.lastName+' '+student.firstName}"></strong></h5>
                                                                <p>Create an account for this student with the role "student". A random password will be generated automatically.</p>
                                                                <input type="hidden" name="roleName" value="ROLE_STUDENT">
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button class="btn btn-sm btn-primary" type="submit">Create Account</button>
                                                            </div>
                                                        </form>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div th:if="${student.account != null}">
                                            <div th:if="${accountCreated != null}" class="row">
                                                <div class="alert alert-success alert-dismissible fade show col-12" role="alert">
                                                    <span th:text="${accountCreated.message}"></span>
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                </div>

                                                <div class="personal-activity col-12">
                                                    <div class="personal-icons">
                                                        <i class="feather-info"></i>
                                                    </div>
                                                    <div class="views-personal">
                                                        <h4>Account credentials</h4>
                                                        <p class="text-muted">This section is temporary, make sure to save the account credentials before leaving this page !</p>
                                                        <div class="d-flex">
                                                            <a class="mb-1 btn btn-sm clip-btn btn-primary" href="javascript:;" data-clipboard-action="copy"
                                                               th:attr="data-clipboard-text=${student.email}"><i class="far fa-copy"></i> Copy email</a>
                                                            <div class="clipboard copy-txt ms-2">
                                                                <a class="mb-1 btn btn-sm clip-btn btn-warning" href="javascript:;" data-clipboard-action="copy"
                                                                   th:attr="data-clipboard-text=${accountCreated.password}"><i class="far fa-copy"></i> Copy password</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row ">
                                                <div class="personal-activity col-lg-6">
                                                    <div class="personal-icons">
                                                        <i class="feather-user"></i>
                                                    </div>
                                                    <div class="views-personal">
                                                        <h4>Role</h4>
                                                        <h5 th:text="${student.account.role.roleName}"></h5>
                                                    </div>
                                                </div>
                                                <div class="personal-activity col-lg-6">
                                                    <div class="personal-icons">
                                                        <i class="feather-user"></i>
                                                    </div>
                                                    <div class="views-personal">
                                                        <h4>Created at</h4>
                                                        <h5 th:text="${#dates.format(student.account.createdAt, 'yyyy-MM-dd')}"></h5>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row ">
                                                <div class="personal-activity col-lg-6">
                                                    <div class="personal-icons">
                                                        <i class="feather-activity"></i>
                                                    </div>
                                                    <div class="views-personal">
                                                        <h4 th:if="${student.account.enabled}">Enabled</h4>
                                                        <h4 th:if="${not student.account.enabled}">Disabled</h4>
                                                    </div>
                                                </div>
                                                <div class="personal-activity col-lg-6">
                                                    <div class="personal-icons">
                                                        <i class="feather-lock"></i>
                                                    </div>
                                                    <div class="views-personal">
                                                        <h4 th:if="${student.account.locked}" >Locked</h4>
                                                        <h4 th:if="${not student.account.locked}">Unlocked</h4>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="personal-activity d-flex align-items-center">
                                                <div class="personal-icons">
                                                    <i class="feather-user"></i>
                                                </div>
                                                <div class="views-personal d-flex align-items-center">
                                                    <h4>Password</h4>
                                                    <a  th:href="@{'/admin/accounts/'+${student.account.id}+'/reset-password'}" class="ms-1 btn btn-sm btn-primary"> <i class="feather-refresh-cw"></i></a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="student-personals-grp">
                                <div class="card mb-0">
                                    <div class="card-body">
                                        <div class="heading-detail">
                                            <h4>Inscriptions:</h4>
                                        </div>
                                        <div th:if="${student.inscription == null}">
                                            <p>This student doesn't have any inscription yet</p>
                                        </div>
                                        <div th:if="${student.inscription != null}">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

</body>
</html>