<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Schoolio - School management system</title>
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">

  <link href="../dist/css/login.css" rel="stylesheet">
  <link href="../dist/css/style.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card mb-5 my-5">

        <form th:action="@{/loginProcessing}" method="post"  class="card-body cardbody-color p-lg-5">
            <h2 class="text-center text-dark mb-2">Login</h2>
            <div class="text-center">
            <img src="../assets/images/logo.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                 width="200px" alt="profile">
          </div>

            <div  th:if="${param.error}" class="alert alert-danger py-3 px-5 text-center">
                <div>
                    <span th:if="${#strings.equals(param.error, 'other')}">Please verify your login or password</span>
                    <span th:if="${#strings.equals(param.error, 'locked')}">Your account is locked</span>
                    <span th:if="${#strings.equals(param.error, 'expired')}">Your account is expired</span>
                    <span th:if="${#strings.equals(param.error, 'disabled')}">Your account is disabled</span>
                </div>
            </div>

          <div class="mb-3">
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                   placeholder="email@mail.com">
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" id="password" name="password" placeholder="password">
          </div>
          <div class="text-center"><button type="submit" class="btn btn-dark px-5 mb-5 w-100">Login</button></div>
          <div id="emailHelp" class="form-text text-center mb-5 text-dark">Not
            Registered? <a th:href="@{/register}" class="text-dark fw-bold"> Create an
              Account</a>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
</body>
</html>